{% extends 'base.html' %}

{% block title %}
    {{ category_title }}
{% endblock %}

{% block path %}
{{ url_for('static', path='/styles_2.css') }}
{% endblock %}

{% block body %}
<h1>{{ category_title }}</h1>

<script>
    function showData(edition, price, outputId) {
        const number = edition * price + edition * 0.3;
        const outputDiv = document.getElementById(outputId);
        if (outputDiv.innerHTML === "") {
            outputDiv.innerHTML = `<p>С добавлением цвета: ${number}</p>`;
        } else {
            outputDiv.innerHTML = "";
        }
    }
</script>

<script>
    function toggleLi(url) {
        var ul = document.getElementById(`price-list-${url}`);
        if (ul.style.display === "none" || ul.style.display === '') {
            ul.style.display = "block";
        } else {
            ul.style.display = "none";
        }
    }
</script>

<form action="/shopping/{{ category_id }}">
    <button class="shop-list">Корзина</button>
</form>

<form action="/">
    <button class="back">Вернутся</button>
</form>

<h4><a href="/sort/sorted_by_stars/{{ category_id }}" class="sort">Сортировать по рейтингу</a></h4>
<h4><a href="/sort/sorted_by_price/{{ category_id }}" class="sort">Сортировать по цене (за тираж - 500)</a></h4>
<h4><a href="/matches/{{ category_id }}" class="sort">Вернуть изначальную сортировку (по имени)</a></h4>

<div id="match-list">
    {% for match in matches %}
    <h2><a href="/more/{{ category_id }}/{{ match.id }}">{{ match.name }}</a></h2>
    <div class="centr"><img src="{{ match.img }}"></div>
    <p>{{ match.description }}</p>
    <p>Время сгорания упаковки: {{ match.time }} секунды</p>
    <p>Рейтинг: {{ match.star }}</p>
    <button onclick="toggleLi({{ match.id }})" class="click">Показать/Скрыть таблицу</button>
    <ul class="price-list" id="price-list-{{ match.id }}">
        {% for price_item in match.price_list %}
        <li>
            Тираж: {{ price_item.edition }}<br>
            Цена за одну: {{ price_item.price }}<br>
            Общая цена: {{ price_item.all_price }} рублей<br>
            <form action="/shopping_add/{{ match.id }}/{{ price_item.id }}/{{ category_id }}" method="post">
                <button class="shop">Добавить в корзину</button>
            </form>
            <button data-edition="{{ price_item.edition }}" data-price="{{ price_item.price }}"
                    data-output-id="output-{{ price_item.id }}">Изменить цвет
            </button>
            <div id="output-{{ price_item.id }}" class="output"></div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

<script>
    const buttons = document.querySelectorAll('#match-list button');
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const edition = parseFloat(button.dataset.edition);
            const price = parseFloat(button.dataset.price);
            const outputId = button.dataset.outputId;
            showData(edition, price, outputId);
        });
    });
</script>

{% endblock %}

